DISCORD_TOKEN=
GOOGLE_GENERATIVE_AI_API_KEY=
TWITCH_BOT_USERNAME=
TWITCH_OAUTH_TOKEN=
TWITCH_CHANNEL=
EFT_API_KEY=
STEAM_API_KEY=
CSGOSKINS_API_KEY=
CSFLOAT_API_KEY=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
